stepfunctions-asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "carrega_dados",
  "States": {
    "carrega_dados": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "dadosmotor",
        "Key": {
          "segmento_servico_utilizador": {
            "S.$": "States.Format(States.Format('{}@{}@{}', $.segmento,$.servico,$.utilizador))"
          }
        }
      },
      "Next": "encontrou_dados_db",
      "ResultPath": "$.dynamoResult",
      "ResultSelector": {
        "item.$": "$.Item"
      }
    },
    "encontrou_dados_db": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.dynamoResult.item.catalogo",
          "IsPresent": true,
          "Next": "retorna_tipo_calculo"
        }
      ],
      "Default": "Fail"
    },
    "retorna_tipo_calculo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:718509106956:function:retorna_tipo_calculo:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "tipo_calculo",
      "ResultSelector": {
        "tipo.$": "$.Payload"
      },
      "ResultPath": "$.resultadoTipoCalculo"
    },
    "tipo_calculo": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.resultadoTipoCalculo.tipo",
          "StringEquals": "AVULSO",
          "Next": "calcula_taxa_dinamica"
        },
        {
          "Variable": "$.resultadoTipoCalculo.tipo",
          "StringEquals": "ISENTO",
          "Next": "isento"
        }
      ],
      "Default": "Fail"
    },
    "calcula_taxa_dinamica": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:718509106956:function:calculadora_taxa_dinamica:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true,
      "OutputPath": "$.Payload"
    },
    "Fail": {
      "Type": "Fail"
    },
    "isento": {
      "Type": "Pass",
      "End": true,
      "Result": {
        "valor": 0
      },
      "OutputPath": "$.valor"
    }
  }
}